 body{
        font-family: 'Cairo', sans-serif;
    
 }

 
  
    ul li {

    }  
    .container ul li{
        font-family: 'Cairo', sans-serif;

    }

   img {
    width: 100px;
    height: 100px;
  

       }
   img:hover{
    width: 100px;
    height: 100px;
 
     }

     .lntrod{

        font-family: tahoma;
      
     }
      .img-introd{
         position: relative;
     }
     .p {
        font-size: 16px;
        font-family: '
    }
    .col-sm-12.text {
        text-align: right;
        
    }

    .texts {
        font-size: 14px;
        font-family: Arial;
        font-style: oblique;
        font-weight: bolder;
    }

    .text-center.img-introd.kk {
        width: 151px;
        top: -13px;
        margin: -62px -30px;
        
   
    }
    .text-center.img-introd.kk:hover{
        width: 160px;
        -webkit-transition: width 1s;
        transition: width 1s;

    }

    .text-center.img-introd.as {
        width: 133px;
        margin: 0 -11px;
        top: 23px;
    }
    .container.\32 {
        padding: 28px;
        margin-top: -61px;    }

    .col-md-12.Group {
        background: #fff;
        border-radius: 21px;
        border-bottom: 1px solid #84ab33;
        color: black;
        border: solid 1px black;
        text-align: center;
    
    }
    .dd.img-circle {
        margin-top: 17px;
        padding: 3px;
    }
    hr{
        border-top: 1px solid rgb(0, 0, 0);
        font-family: serif
    }
    .aa {
       
        border-radius: 16px;
        padding: 19px;    }

    .col {
        border-bottom-color: 1px soli;
        border: 1px solid #EEE;
        border-radius: 22px;
        padding: 0 27px 14px;
        background-color: ghostwhite;
    }
    .col  ul li:nth-child(odd){
        background-color:white;

    }

    .col  ul li:hover{
    background-color:rgb(130, 167, 130);
    border-radius: 5px;
    

    }
    .gr {
        border: 1px solid #EEE;
        border-radius: 22px;
        padding: 0 27px 14px;
        background-color:#d66d5d;
    }
     .power {
        border: 1px solid #EEE;
        border-radius: 22px;
        padding: 0 27px 14px;
        background-color:#ffe0a7;
    }

   
        
    .col-sm-12 {
        width: 100%;
        text-align: center;
    }
    .col-sm-6{
        text-align: center;
    }
    .imggrop {
        margin: 9px;
    }
    .container {
        padding: 80px 120px;
    }
    .person {
        border: 10px solid transparent;
        margin-bottom: 25px;
        width: 80%;
        height: 80%;
        opacity: 0.7;
    }
    .person:hover {
        border-color: #f1f1f1;
    }
    .navbar.navbar-default.navbar-fixed-top {
        background-color: black;
    }

    .po {
        text-align: center;
    }

    .gg {
        cursor: pointer;
    }
    
    .ss {
        border-bottom-color: 1px soli;
        border: 1px solid #EEE;
        border-radius: 22px;
        padding: 0 27px 14px;
        background-color:slategray;
    }

    .ass {
        border: 1px solid #ffce1e;
        border-radius: 23px;
        background-color: #f2cf61;
        text-align: initial;    
        padding: 7px 8px 16px 8px;
        overflow:hidden;
        font-family: 'Cairo', sans-serif;

    }
    
    .lungs {
        border: 1px solid #324a5e;
        border-radius: 23px;
        background-color: #b2cde4;
        text-align: center;
        overflow: hidden;
        padding: 15px;
    }
    
    .bodyy {
        border: 1px solid #fe1818;
        border-radius: 23px;
        background-color: #e76b3a;
                padding: 20px;
    }
    .psychologial {
        border: 1px solid #e37d39;
        border-radius: 23px;
        background-color: #e8c249;
        padding: 20px;
        text-align: end;
    }
    .psychologial {
     overflow: hidden;
    }

    .img-circle{
        cursor: pointer;

    }

   .karara {
    border: 2px solid;
    padding: 6px 0 221px;
    border-radius: 15px;
    width: 360px;
    height: 422px;
    margin: 0 auto;
     
        }



    #f{
        color: #84ab33;
        font-size: 50px
    }
    
    .kgm {
        border: 1px solid;
        transform: rotate(168deg);
        padding: 1;
        }
    .carousel-inner img {
        -webkit-filter: grayscale(90%);
        filter: grayscale(90%); 
        width: 100%; 
        margin: auto;
    }
    .img-circle.text-center {
        margin: 7px;
    }
    .img-circle.lungs {
     margin: 7px;
    }.img-circle.pp {
        margin: 7px;
    }.img-circle.fd {
        margin: 7px;
    }
    .Group {
        text-align: end;
    }
    .carousel-caption h3 {
        color: #fff !important;
    }
    .cccc {
        border-bottom-color: 1px soli;
        border: 1px solid #4AE9E3;
        border-radius: 22px;
        padding: 0 27px 14px;
        background-color: #e1f1ff;
    }
    .lights {
        border-bottom-color: 1px soli;
        border: 1px solid #DEADAD;
        border-radius: 22px;
        padding: 0 27px 14px;
        background-color: #e9ecec;
    }
    .iraq {
        width: 240px;
        height: 200px;
        
    }
    .iraq:hover{
    width:240px;
    height:200px;
    -webkit-transform: rotate(0deg); 
        transform: rotate(0deg);
        
    }
     
    .lungs ul li {
        position: relative;
        list-style: decimal;
        list-style-type: arabic-indic;
        text-align: -moz-right;
    }

    .psychologial ul li {
        list-style: decimal;
        list-style-type: arabic-indic;
        text-align: -moz-right;


    }  .Group li {
        list-style: decimal;
        list-style-type: arabic-indic;
        text-align: -moz-right;
    }
    .bodyy li {
        list-style: decimal;
        list-style-type: arabic-indic;
        text-align: -moz-right;
    }
    
    .container .col-sm-12 ul{
        list-style: decimal;
        list-style-type: arabic-indic;
        text-align: -moz-right;
    }
   

    @media (max-width: 600px) {
      .carousel-caption {
        display: none; 
      }
    }

    .bg-1 {
        background: #2d2d30;
        color: #bdbdbd;
    }
    .bg-1 h3 {color: #fff;}
    .bg-1 p {font-style: italic;}
    .list-group-item:first-child {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    .list-group-item:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .thumbnail {
        padding: 0 0 15px 0;
        border: none;
        border-radius: 0;
    }
    .thumbnail p {
        margin-top: 15px;
        color: #555;
    }
    .btn {
        padding: 10px 20px;
        background-color: #333;
        color: #f1f1f1;
        border-radius: 0;
        transition: .2s;
    }
    .btn:hover, .btn:focus {
        border: 1px solid #333;
        background-color: #fff;
        color: #000;
    }


    .zzx {
        border: 1px solid deeppink;
        padding: 3px 13px;
        font-family: 'Cairo', sans-serif;
        border-radius: 15px;
        background: #ff6374;
    }

    
    .q {
        border: 1px solid #53d5ea;
        padding: 3px 13px;
        font-family: 'Cairo', sans-serif;
        border-radius: 15px;
        background: #53d5ea;
    }
    .ads{
        border: 1px solid #fed330;
        padding: 3px 13px;
        font-family: 'Cairo', sans-serif;
        border-radius: 15px;
        background: #f7b731;
    }
    .e{
        border: 1px solid #fed330;
        padding: 3px 13px;
        font-family: 'Cairo', sans-serif;
        border-radius: 15px;
        background: #f7b731;
    }

    .w{
        border: 1px solid #f7b731;
        padding: 3px 13px;
        font-family: 'Cairo', sans-serif;
        border-radius: 15px;
        background: #fed330;
    }

    .r{
        border: 1px solid #26de81;
        padding: 3px 13px;
        font-family: 'Cairo', sans-serif;
        border-radius: 15px;
        background: #bfd6a6;
    }

    .r{
        border: 1px solid #26de81;
        padding: 3px 13px;
        font-family: 'Cairo', sans-serif;
        border-radius: 15px;
        background: #c6deac;
    }
    .oooo{
        border: 1px solid #26de81;
        padding: 3px 13px;
        font-family: 'Cairo', sans-serif;
        border-radius: 15px;
        background: #697b98;
    }
    .qqq{
        border: 1px solid #da793e;
        padding: 3px 13px;
        font-family: 'Cairo', sans-serif;
        border-radius: 15px;
        background: #da793e;
    }
    .y{
        border: 1px solid #bdd8dd;
        padding: 3px 13px;
        font-family: 'Cairo', sans-serif;
        border-radius: 15px;
        background: #50bfd5;
    }

    .nav.navbar-nav.navbar-left {
        font-size: 19px;
    }
   
    .modal-header, h4, .close {
        background-color: #333;
        color: #fff !important;
        text-align: center;
        font-size: 30px;
    }
    .modal-header, .modal-body {
        padding: 40px 50px;
    }
    .nav-tabs li a {
        color: #777;
    }
    #googleMap {
        width: 100%;
        height: 400px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }  
    .navbar {
        margin-bottom: 0;
        background-color: #2d2d30;
        border: 0;
        font-size: 15px !important;
        opacity: 0.9;
        font-size: 13px;
    }
    .as {
        padding: 0px;
        margin: 0px 4px;
        margin: 15px 0px;
    }
    .as a{
color: #070;    }
   
    .navbar-nav {
        float: left;
        margin: 0 143px;
    }


    .navbar li a, .navbar .navbar-brand { 
        color: #d5d5d5 !important;
    }
    .navbar-nav li a:hover {
        color: #fff !important;
    }
    .navbar-nav li.active a {
        color: #fff !important;
        background-color: #29292c !important;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
    }
    .open .dropdown-toggle {
        color: #fff;
        background-color: #555 !important;
    }
    .dropdown-menu li a {
        color: #000 !important;
    }
    .dropdown-menu li a:hover {
        background-color: red !important;
    }
    

    .lds-hourglass {
        display: inline-block;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99;
        left: 0;
        top: 0;
        background:white;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }




      .lds-hourglass:after {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 6px;
        box-sizing: border-box;
        border: 26px solid rgb(0, 0, 0);
        border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
        animation: lds-hourglass 1.2s infinite;
      }
      @keyframes lds-hourglass  {
        0% {
         
          transform: rotate(0);
          animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
        50% {
          transform: rotate(900deg);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        100% {
          transform: rotate(1800deg);


        }
    
      }
      .lds-hourglass  .hidden{
          animation: fadeOut 1s;
          animation-fill-mode: forwards;
      }
      
      @keyframes fadeOut{
          100% {
              opacity: 0;
              visibility: hidden;
          }
      }